h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: green;
}

article {
font-size: 20px;

}

#locations {
 
}

#family-img {
width: 800px;

}


ul {
  font-family: sans-serif, Arial, Helvetica;
  color: purple;
}

body { 
   color: blue;
   background-color: lightblue;
   font-family: 'Open Sans', sans-serif;
}