h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: green;
}

ul {
  font-family: sans-serif, Arial, Helvetica;
  color: purple;
}

body { 
 
   color: blue;
   background-color: lightblue;
   font-family: 'Open Sans', sans-serif;
}