h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: green;
}

ul {
  font-family: sans-serif, Arial, Helvetica;
  color: purple;
}

body { 
  font-family: Georgia, 'Times New Roman', Times, serif;
   color: blue;
   background-color: lightblue;
}